.DS_Store
.AppleDouble
.LSOverride
Icon
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/obj/
proj.ios_mac/BabylonClicker.xcodeproj/project.xcworkspace/xcshareddata/

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.class

# Package Files #
*.jar
*.war
*.ear
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
