<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hp</key>
	<array>
		<integer>100</integer>
		<integer>150</integer>
		<integer>1000</integer>
		<integer>5000</integer>
		<integer>20000</integer>
		<integer>600000</integer>
	</array>
	<key>objectID</key>
	<array>
		<real>1000</real>
		<integer>1001</integer>
		<integer>1002</integer>
		<integer>1003</integer>
		<integer>1004</integer>
		<integer>1005</integer>
	</array>
	<key>description</key>
	<array>
		<string>世界を支配しようと企む謎の生物。</string>
		<string>水の魔法を司る天然記念生物</string>
		<string>火の魔法を司る天然記念生物</string>
		<string>木の魔法を司る天然記念生物</string>
		<string>神と契約を果たした正義の魔法少女</string>
		<string>覚醒したバビロンの姿。1000体に1体の逸材。</string>
	</array>
	<key>cost</key>
	<array>
		<integer>5</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>12</integer>
	</array>
	<key>name</key>
	<array>
		<string>マジカルサイコパピヨン</string>
		<string>デストロイパピヨン</string>
		<string>アルキメデスパピヨン</string>
		<string>リリースバビロン</string>
		<string>かおるちゃん</string>
		<string>ドリルウサギ</string>
	</array>
</dict>
</plist>
