<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxUnitNum</key>
	<array>
		<integer>100</integer>
	</array>
	<key>nendApiKey</key>
	<array>
		<string>a6eca9dd074372c898dd1df549301f277c53f2b9</string>
	</array>
	<key>nendSpotID</key>
	<array>
		<string>3172</string>
	</array>
	<key>interval</key>
	<array>
		<integer>10</integer>
	</array>
</dict>
</plist>
