<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sacrificeNum3</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>sacrificeNum2</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>sacrificeNum1</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>5</integer>
	</array>
	<key>sacrifice3</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>sacrifice2</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>4</integer>
	</array>
	<key>sacrifice1</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
	</array>
	<key>costGrowth</key>
	<array>
		<real>1.1</real>
		<real>1.1</real>
		<real>1.1</real>
		<real>1.1</real>
		<string>1.1</string>
		<real>1.1</real>
	</array>
	<key>attackGrouth</key>
	<array>
		<real>1.05</real>
		<real>1.05</real>
		<real>1.05</real>
		<real>1.05</real>
		<real>1.08</real>
		<real>1.08</real>
	</array>
	<key>magic</key>
	<array>
		<string>闇</string>
		<string>水</string>
		<string>火</string>
		<string>木</string>
		<string>光</string>
		<string>闇</string>
	</array>
	<key>family</key>
	<array>
		<string>バビロン</string>
		<string>ハナアルキ</string>
		<string>ハナアルキ</string>
		<string>ハナアルキ</string>
		<string>マリリカ</string>
		<string>バビロン</string>
	</array>
	<key>interval</key>
	<array>
		<integer>5</integer>
		<string>2</string>
		<string>2</string>
		<string>2</string>
		<string>8</string>
		<string>6</string>
	</array>
	<key>attack</key>
	<array>
		<integer>10</integer>
		<real>5.5</real>
		<real>5.5</real>
		<real>5.5</real>
		<real>1</real>
		<integer>30</integer>
	</array>
	<key>objectID</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
	</array>
	<key>description</key>
	<array>
		<string>世界を支配しようと企む謎の生物。</string>
		<string>水の魔法を司る天然記念生物</string>
		<string>火の魔法を司る天然記念生物</string>
		<string>木の魔法を司る天然記念生物</string>
		<string>神と契約を果たした正義の魔法少女</string>
		<string>覚醒したバビロンの姿。1000体に1体の逸材。</string>
	</array>
	<key>cost</key>
	<array>
		<integer>5</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>12</integer>
	</array>
	<key>name</key>
	<array>
		<string>バビロン素体</string>
		<string>水ハナアルキ</string>
		<string>火ハナアルキ</string>
		<string>木ハナアルキ</string>
		<string>魔法少女まりりか</string>
		<string>真・バビロン</string>
	</array>
</dict>
</plist>
