<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonSelected</key>
	<dict>
		<key>type</key>
		<string>action</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>easeElasticOut</string>
					<key>children</key>
					<array>
						<dict>
							<key>type</key>
							<string>scaleTo</string>
							<key>duration</key>
							<real>0.4</real>
							<key>scale</key>
							<real>0.8</real>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>buttonUnSelected</key>
	<dict>
		<key>type</key>
		<string>action</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>easeElasticOut</string>
					<key>children</key>
					<array>
						<dict>
							<key>type</key>
							<string>scaleTo</string>
							<key>duration</key>
							<real>0.4</real>
							<key>scale</key>
							<real>1</real>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>fadeIn</key>
	<dict>
		<key>type</key>
		<string>action</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>fadeIn</string>
					<key>duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
