<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>opening</key>
	<dict>
		<key>type</key>
		<string>node</string>
		<key>tag</key>
		<integer>1</integer>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>name</key>
					<string>startButton</string>
					<key>def</key>
					<string>normalButtonDef</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>160</integer>
					<key>pos_y</key>
					<integer>252</integer>
					<key>size_width</key>
					<integer>280</integer>
					<key>size_height</key>
					<string>50</string>
					<key>tag</key>
					<integer>10</integer>
					<key>order</key>
					<string>0</string>
					<key>container</key>
					<array>
						<dict>
							<key>name</key>
							<string>startButtonLabel</string>
							<key>def</key>
							<string>normalLabelDef</string>
							<key>type</key>
							<string>label</string>
							<key>text</key>
							<string>ゲーム開始</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>140</integer>
							<key>pos_y</key>
							<integer>25</integer>
							<key>tag</key>
							<integer>0</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>openingLabel</string>
					<key>def</key>
					<string>normalLabelDef</string>
					<key>type</key>
					<string>label</string>
					<key>text</key>
					<string>ハロー リトルポニー</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>160</integer>
					<key>pos_y</key>
					<integer>398</integer>
					<key>tag</key>
					<integer>0</integer>
					<key>order</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>main</key>
	<dict>
		<key>type</key>
		<string>node</string>
		<key>tag</key>
		<integer>2</integer>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>node</string>
					<key>name</key>
					<string>staticView</string>
					<key>anchor_x</key>
					<real>0</real>
					<key>anchor_y</key>
					<real>0</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>0</integer>
					<key>pos_y</key>
					<integer>0</integer>
					<key>size_width</key>
					<integer>0</integer>
					<key>size_height</key>
					<integer>0</integer>
					<key>tag</key>
					<integer>20</integer>
					<key>order</key>
					<string>0</string>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>headerSprite</string>
							<key>type</key>
							<string>sprite</string>
							<key>image</key>
							<string>header_black.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>160</integer>
							<key>pos_y</key>
							<integer>505</integer>
							<key>tag</key>
							<integer>0</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>name</key>
							<string>summonButton</string>
							<key>def</key>
							<string>normalButtonDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>40</integer>
							<key>pos_y</key>
							<integer>70</integer>
							<key>size_width</key>
							<integer>80</integer>
							<key>size_height</key>
							<string>52</string>
							<key>tag</key>
							<integer>200</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>container</key>
							<array>
								<dict>
									<key>name</key>
									<string>summonButtonLabel</string>
									<key>def</key>
									<string>normalLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>召喚</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>40</integer>
									<key>pos_y</key>
									<integer>26</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>name</key>
							<string>toolButton</string>
							<key>def</key>
							<string>normalButtonDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>200</integer>
							<key>pos_y</key>
							<integer>70</integer>
							<key>size_width</key>
							<integer>80</integer>
							<key>size_height</key>
							<string>52</string>
							<key>tag</key>
							<integer>201</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>container</key>
							<array>
								<dict>
									<key>name</key>
									<string>summonButtonLabel</string>
									<key>def</key>
									<string>normalLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>道具</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>40</integer>
									<key>pos_y</key>
									<integer>26</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>name</key>
							<string>battleButton</string>
							<key>def</key>
							<string>normalButtonDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>280</integer>
							<key>pos_y</key>
							<integer>70</integer>
							<key>size_width</key>
							<integer>80</integer>
							<key>size_height</key>
							<string>52</string>
							<key>tag</key>
							<integer>203</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>container</key>
							<array>
								<dict>
									<key>name</key>
									<string>summonButtonLabel</string>
									<key>def</key>
									<string>normalLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>対戦</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>40</integer>
									<key>pos_y</key>
									<integer>26</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>name</key>
							<string>magicButton</string>
							<key>def</key>
							<string>normalButtonDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>120</integer>
							<key>pos_y</key>
							<integer>70</integer>
							<key>size_width</key>
							<integer>80</integer>
							<key>size_height</key>
							<string>52</string>
							<key>tag</key>
							<integer>202</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>container</key>
							<array>
								<dict>
									<key>name</key>
									<string>summonButtonLabel</string>
									<key>def</key>
									<string>normalLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>魔法</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>40</integer>
									<key>pos_y</key>
									<integer>26</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>type</key>
							<string>sprite</string>
							<key>name</key>
							<string>damageView</string>
							<key>image</key>
							<string>damage_black.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>160</integer>
							<key>pos_y</key>
							<integer>424</integer>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>soulSprite</string>
									<key>type</key>
									<string>sprite</string>
									<key>image</key>
									<string>icon_soul.png</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>29</integer>
									<key>pos_y</key>
									<integer>22</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
								<dict>
									<key>name</key>
									<string>starSprite</string>
									<key>type</key>
									<string>sprite</string>
									<key>image</key>
									<string>icon_star.png</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>123</integer>
									<key>pos_y</key>
									<integer>22</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
								<dict>
									<key>name</key>
									<string>damageTitleLabel</string>
									<key>def</key>
									<string>miniLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>はろー りとるぽにー</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>95</integer>
									<key>pos_y</key>
									<integer>35</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>type</key>
							<string>sprite</string>
							<key>name</key>
							<string>infoSprite</string>
							<key>image</key>
							<string>info_black.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>160</integer>
							<key>pos_y</key>
							<integer>460</integer>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
						<dict>
							<key>type</key>
							<string>sprite</string>
							<key>name</key>
							<string>hpbarSprite</string>
							<key>image</key>
							<string>hp.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>178</integer>
							<key>pos_y</key>
							<integer>476</integer>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
						<dict>
							<key>type</key>
							<string>sprite</string>
							<key>name</key>
							<string>typeframeSprite</string>
							<key>image</key>
							<string>typeframe_black.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>26</integer>
							<key>pos_y</key>
							<integer>484</integer>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
						<dict>
							<key>type</key>
							<string>layer</string>
							<key>name</key>
							<string>bannerLayer</string>
							<key>colorDef</key>
							<string>normalColorDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>0</integer>
							<key>pos_y</key>
							<integer>96</integer>
							<key>size_width</key>
							<integer>320</integer>
							<key>size_height</key>
							<string>50</string>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>node</string>
					<key>name</key>
					<string>mainView</string>
					<key>anchor_x</key>
					<real>0</real>
					<key>anchor_y</key>
					<real>0</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>0</integer>
					<key>pos_y</key>
					<integer>0</integer>
					<key>size_width</key>
					<integer>0</integer>
					<key>size_height</key>
					<string>0</string>
					<key>tag</key>
					<integer>21</integer>
					<key>order</key>
					<string>0</string>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>wingSprite</string>
							<key>type</key>
							<string>sprite</string>
							<key>image</key>
							<string>wing.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<real>1</real>
							<key>pos_x</key>
							<integer>24</integer>
							<key>pos_y</key>
							<integer>300</integer>
							<key>tag</key>
							<integer>0</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
						<dict>
							<key>name</key>
							<string>ibaraSprite</string>
							<key>type</key>
							<string>sprite</string>
							<key>image</key>
							<string>ibara.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>286</integer>
							<key>pos_y</key>
							<integer>306</integer>
							<key>tag</key>
							<integer>0</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scrollButtonDisplay</key>
	<dict>
		<key>type</key>
		<string>node</string>
		<key>tag</key>
		<integer>4</integer>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>displayLabel</string>
					<key>def</key>
					<string>normalLabelDef</string>
					<key>type</key>
					<string>label</string>
					<key>text</key>
					<string>test</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>40</integer>
					<key>pos_y</key>
					<integer>26</integer>
					<key>tag</key>
					<integer>40</integer>
					<key>order</key>
					<string>0</string>
					<key>useRelative</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scrollView</key>
	<dict>
		<key>type</key>
		<string>node</string>
		<key>tag</key>
		<integer>3</integer>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>hashiraLeft</string>
					<key>type</key>
					<string>sprite</string>
					<key>image</key>
					<string>hashira_left.png</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<real>1</real>
					<key>pos_x</key>
					<integer>24</integer>
					<key>pos_y</key>
					<integer>296</integer>
					<key>tag</key>
					<integer>0</integer>
					<key>order</key>
					<string>0</string>
					<key>useRelative</key>
					<true/>
				</dict>
				<dict>
					<key>name</key>
					<string>hashiraRight</string>
					<key>type</key>
					<string>sprite</string>
					<key>image</key>
					<string>hashira_right.png</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>298</integer>
					<key>pos_y</key>
					<integer>296</integer>
					<key>tag</key>
					<integer>0</integer>
					<key>order</key>
					<string>0</string>
					<key>useRelative</key>
					<true/>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>name</key>
					<string>backButton</string>
					<key>def</key>
					<string>backButtonDef</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>297</integer>
					<key>pos_y</key>
					<integer>426</integer>
					<key>size_width</key>
					<integer>40</integer>
					<key>size_height</key>
					<string>40</string>
					<key>tag</key>
					<integer>30</integer>
					<key>order</key>
					<string>1</string>
					<key>useRelative</key>
					<true/>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>name</key>
					<string>returnButton</string>
					<key>def</key>
					<string>returnButtonDef</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>297</integer>
					<key>pos_y</key>
					<integer>426</integer>
					<key>size_width</key>
					<integer>40</integer>
					<key>size_height</key>
					<string>40</string>
					<key>tag</key>
					<integer>31</integer>
					<key>order</key>
					<string>1</string>
					<key>useRelative</key>
					<true/>
				</dict>
				<dict>
					<key>name</key>
					<string>scrollView</string>
					<key>type</key>
					<string>layer</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>pos_x</key>
					<integer>0</integer>
					<key>pos_y</key>
					<integer>144</integer>
					<key>size_width</key>
					<integer>320</integer>
					<key>size_height</key>
					<integer>320</integer>
					<key>tag</key>
					<integer>32</integer>
					<key>order</key>
					<string>0</string>
					<key>useRelative</key>
					<true/>
					<key>scrollable</key>
					<true/>
					<key>scroll_direction</key>
					<string>vertical</string>
					<key>maskArea</key>
					<array>
						<dict>
							<key>x</key>
							<integer>297</integer>
							<key>y</key>
							<integer>281</integer>
							<key>width</key>
							<integer>60</integer>
							<key>height</key>
							<integer>60</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
