<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>opening</key>
	<dict>
		<key>type</key>
		<string>node</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>name</key>
					<string>startButton</string>
					<key>def</key>
					<string>normalButtonDef</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>160</integer>
					<key>pos_y</key>
					<integer>252</integer>
					<key>size_width</key>
					<integer>280</integer>
					<key>size_height</key>
					<string>50</string>
					<key>tag</key>
					<integer>10</integer>
					<key>order</key>
					<string>0</string>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>startButtonLabel</string>
							<key>def</key>
							<string>normalLabelDef</string>
							<key>type</key>
							<string>label</string>
							<key>text</key>
							<string>ゲーム開始</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>0</integer>
							<key>pos_y</key>
							<integer>0</integer>
							<key>tag</key>
							<integer>0</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>openingLabel</string>
					<key>def</key>
					<string>normalLabelDef</string>
					<key>type</key>
					<string>label</string>
					<key>text</key>
					<string>ハロー リトルポニー</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>160</integer>
					<key>pos_y</key>
					<integer>398</integer>
					<key>tag</key>
					<integer>0</integer>
					<key>order</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>main</key>
	<dict>
		<key>type</key>
		<string>node</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>node</string>
					<key>name</key>
					<string>rootView</string>
					<key>anchor_x</key>
					<real>0</real>
					<key>anchor_y</key>
					<real>0</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>0</integer>
					<key>pos_y</key>
					<integer>0</integer>
					<key>size_width</key>
					<integer>0</integer>
					<key>size_height</key>
					<string>0</string>
					<key>tag</key>
					<integer>10</integer>
					<key>order</key>
					<string>0</string>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>headerSprite</string>
							<key>type</key>
							<string>sprite</string>
							<key>image</key>
							<string>header_black.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>160</integer>
							<key>pos_y</key>
							<integer>505</integer>
							<key>tag</key>
							<integer>0</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>name</key>
							<string>summonButton</string>
							<key>def</key>
							<string>normalButtonDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>40</integer>
							<key>pos_y</key>
							<integer>70</integer>
							<key>size_width</key>
							<integer>80</integer>
							<key>size_height</key>
							<string>52</string>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>summonButtonLabel</string>
									<key>def</key>
									<string>normalLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>召喚</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>0</integer>
									<key>pos_y</key>
									<integer>0</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>name</key>
							<string>toolButton</string>
							<key>def</key>
							<string>normalButtonDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>200</integer>
							<key>pos_y</key>
							<integer>70</integer>
							<key>size_width</key>
							<integer>80</integer>
							<key>size_height</key>
							<string>52</string>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>summonButtonLabel</string>
									<key>def</key>
									<string>normalLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>道具</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>0</integer>
									<key>pos_y</key>
									<integer>0</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>name</key>
							<string>battleButton</string>
							<key>def</key>
							<string>normalButtonDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>280</integer>
							<key>pos_y</key>
							<integer>70</integer>
							<key>size_width</key>
							<integer>80</integer>
							<key>size_height</key>
							<string>52</string>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>summonButtonLabel</string>
									<key>def</key>
									<string>normalLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>対戦</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>0</integer>
									<key>pos_y</key>
									<integer>0</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>name</key>
							<string>magicButton</string>
							<key>def</key>
							<string>normalButtonDef</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>120</integer>
							<key>pos_y</key>
							<integer>70</integer>
							<key>size_width</key>
							<integer>80</integer>
							<key>size_height</key>
							<string>52</string>
							<key>tag</key>
							<integer>10</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>summonButtonLabel</string>
									<key>def</key>
									<string>normalLabelDef</string>
									<key>type</key>
									<string>label</string>
									<key>text</key>
									<string>魔法</string>
									<key>anchor_x</key>
									<real>0.5</real>
									<key>anchor_y</key>
									<real>0.5</real>
									<key>scale</key>
									<integer>1</integer>
									<key>pos_x</key>
									<integer>0</integer>
									<key>pos_y</key>
									<integer>0</integer>
									<key>tag</key>
									<integer>0</integer>
									<key>order</key>
									<string>0</string>
									<key>useRelative</key>
									<true/>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>node</string>
					<key>name</key>
					<string>mainView</string>
					<key>anchor_x</key>
					<real>0</real>
					<key>anchor_y</key>
					<real>0</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>0</integer>
					<key>pos_y</key>
					<integer>0</integer>
					<key>size_width</key>
					<integer>0</integer>
					<key>size_height</key>
					<string>0</string>
					<key>tag</key>
					<integer>10</integer>
					<key>order</key>
					<string>0</string>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>wingSprite</string>
							<key>type</key>
							<string>sprite</string>
							<key>image</key>
							<string>wing.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<real>1</real>
							<key>pos_x</key>
							<integer>24</integer>
							<key>pos_y</key>
							<integer>300</integer>
							<key>tag</key>
							<integer>0</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
						<dict>
							<key>name</key>
							<string>ibaraSprite</string>
							<key>type</key>
							<string>sprite</string>
							<key>image</key>
							<string>ibara.png</string>
							<key>anchor_x</key>
							<real>0.5</real>
							<key>anchor_y</key>
							<real>0.5</real>
							<key>scale</key>
							<integer>1</integer>
							<key>pos_x</key>
							<integer>286</integer>
							<key>pos_y</key>
							<integer>300</integer>
							<key>tag</key>
							<integer>0</integer>
							<key>order</key>
							<string>0</string>
							<key>useRelative</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>openingLabel</string>
					<key>def</key>
					<string>normalLabelDef</string>
					<key>type</key>
					<string>label</string>
					<key>text</key>
					<string>ハロー リトルポニー</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>160</integer>
					<key>pos_y</key>
					<integer>398</integer>
					<key>tag</key>
					<integer>0</integer>
					<key>order</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
