<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>opening</key>
	<dict>
		<key>type</key>
		<string>node</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>name</key>
					<string>normalButton</string>
					<key>text</key>
					<string>ゲームスタート</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>160</integer>
					<key>pos_y</key>
					<integer>252</integer>
					<key>tag</key>
					<integer>0</integer>
					<key>order</key>
					<string>0</string>
				</dict>
				<dict>
					<key>name</key>
					<string>normalLabel</string>
					<key>type</key>
					<string>label</string>
					<key>text</key>
					<string>バビロンクリッカー</string>
					<key>anchor_x</key>
					<real>0.5</real>
					<key>anchor_y</key>
					<real>0.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>pos_x</key>
					<integer>160</integer>
					<key>pos_y</key>
					<integer>398</integer>
					<key>tag</key>
					<integer>0</integer>
					<key>order</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>buttonDef</key>
	<dict>
		<key>type</key>
		<string>uidef</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>name</key>
					<string>normalButton</string>
					<key>normalImage</key>
					<string>CloseNormal.png</string>
					<key>selectedImage</key>
					<string>CloseSelected.png</string>
					<key>normalOpacity</key>
					<integer>100</integer>
					<key>selectedOpacity</key>
					<integer>100</integer>
					<key>selectedScale</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>labelDef</key>
	<dict>
		<key>type</key>
		<string>uidef</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>label</string>
					<key>name</key>
					<string>normalLabel</string>
					<key>font</key>
					<string>Arial</string>
					<key>fontType</key>
					<string>system</string>
					<key>size</key>
					<integer>20</integer>
					<key>opacity</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
