<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonDef</key>
	<dict>
		<key>type</key>
		<string>uidef</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>name</key>
					<string>normalButtonDef</string>
					<key>normalImage</key>
					<string>button_black.png</string>
					<key>selectedImage</key>
					<string>button_black.png</string>
					<key>normalOpacity</key>
					<integer>100</integer>
					<key>selectedOpacity</key>
					<integer>100</integer>
					<key>selectedScale</key>
					<integer>1</integer>
					<key>use9sprite_width</key>
					<true/>
					<key>use9sprite_height</key>
					<false/>
					<key>cap_scale_width</key>
					<real>0.45</real>
				</dict>
			</array>
		</dict>
	</dict>
	<key>labelDef</key>
	<dict>
		<key>type</key>
		<string>uidef</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>label</string>
					<key>name</key>
					<string>normalLabelDef</string>
					<key>font</key>
					<string>Arial</string>
					<key>fontType</key>
					<string>system</string>
					<key>colorDef</key>
					<string>normalColorDef</string>
					<key>size</key>
					<integer>18</integer>
					<key>opacity</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>colorDef</key>
	<dict>
		<key>type</key>
		<string>uidef</string>
		<key>body</key>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>type</key>
					<string>color</string>
					<key>name</key>
					<string>normalColorDef</string>
					<key>r</key>
					<integer>255</integer>
					<key>g</key>
					<integer>228</integer>
					<key>b</key>
					<integer>196</integer>
					<key>alfa</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
